
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #27cadf;
}

header {
    background-color: #5c359c;
    background-image: url("C:\\intern 4\\images\\1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    color: #18cfe7;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(12, 161, 211, 0.1);
}

nav {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(211, 225, 19, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #555;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
}

.g-signin2 {
    display: flex;
    align-items: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.signup-btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.signup-btn:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    border-bottom: 1px solid #ddd;
}

input[type="file"], input[type="submit"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

input[type="file"]:focus, input[type="submit"]:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: #01223f;
}
