body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url("C:\\intern 2\\images\\bac.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    max-width: 800px; /* Increased the max-width */
    width: 90%; /* Take up 90% of the body width */
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.hide {
    display: none;
}

#result-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

#next-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#options-container {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
